<app-navbar></app-navbar>

<div class="mar">
  <div class="container py-5">
    <h1 class="menu-header text-center mb-5">Our Delicious Menu</h1>

    <!-- Food Items List -->
    <div class="row">
      <div *ngFor="let foodItem of foodItems" class="col-md-4 col-sm-6 mb-4">
        <div class="card h-100 bg-dark text-white">
          <img [src]="foodItem.imgUrl" class="card-img-top" alt="{{ foodItem.name }}">
          <div class="card-body">
            <h5 class="card-title">Name: {{ foodItem.name }}</h5>
            <p class="card-text">Description: {{ foodItem.description }}</p>
            <p class="card-text price">Price: ${{ foodItem.price }}</p>
            <p class="card-text text-muted">Type: {{ foodItem.foodType }}</p>
            <button class="btn btn-primary" (click)="checkout(foodItem)">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
