<div class="add-food-item-container">
    <h2>Add New Food Item</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="addFoodItemForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input id="description" formControlName="description" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" formControlName="price" type="number" step="0.01" class="form-control" />
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" formControlName="imageUrl" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="foodType">Food Type</label>
        <input id="foodType" formControlName="foodType" type="text" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Add Food Item</button>
    </form>
  </div>
  