<app-navbar></app-navbar>
<div class="mar">
<div class="contact-us-container">
    <h1>Feedback</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="feedbacktext">Feedback</label>
        <textarea id="feedbacktext" formControlName="feedbacktext" class="form-control" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
<div class="notification" *ngIf="showNotification">
  <p>Thank you for your valuable feedback!</p>
</div>